<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مركز خدمة المجتمع | @ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/imgs/WhatsApp Image 2024-02-04 at 11.31.47 AM(1).jpeg">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/aos/aos.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineCoursesReservation.styles.css" asp-append-version="true" />

    <!-- Remix Icons -->
    <link rel="stylesheet" href="~/lib/remixicon/remixicon.css">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">

</head>
<body dir="rtl">


    @Html.PartialAsync("_Header.cshtml").Result;
    
        <main role="main" class="">
            @RenderBody()
        </main>
  

    @Html.PartialAsync("_Footer.cshtml").Result;


    
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js"></script>
  <script>
    AOS.init({
        duration: 1500, 
    });
  </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>