@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "الوصول مرفوض";
}

<div class="text-center">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">ليس لديك صلاحية الوصول إلى هذا المورد.</p>
    </header>
</div>
