@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "نسيت كلمة المرور؟";
}

<section style="max-height:80vh;" class="p-5" >

    <h2 class="text-center mt-5 mb-3">@ViewData["Title"]</h2>
    <h6 class="text-center mb-5">أدخل بريدك الإلكتروني.</h6>
    

    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class=" mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 my-primary-btn">إعادة تعيين كلمة المرور</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
