@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تأكيد نسيان كلمة المرور";
}

<section style="height:50vh;" class="d-flex align-items-md-center justify-content-center flex-column">
    <h1 class="mb-5">@ViewData["Title"]</h1>
    <p class="">
        يرجى التحقق من بريدك الإلكتروني لإعادة تعيين كلمة المرور الخاصة بك.
    </p>
    <a asp-page="./Login" asp-area="Identity">تسجيل الدخول</a> 
</section>
