@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "تأكيد التسجيل";
}

<section class="d-flex align-items-center justify-content-center flex-column">

    <h2 class="mb-5">@ViewData["Title"]</h2>
    @{
       
            <p>
                يرجى التحقق من بريدك الإلكتروني لتأكيد حسابك.
            </p>
       
    }

</section>
