@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "إعادة تعيين كلمة المرور";
}

<section class="d-flex align-items-center justify-content-center flex-column">

    <h1>@ViewData["Title"]</h1>
    <h2>"أعد ضبط كلمة المرور الخاصة بك."</h2>

    <div class="row w-100 d-flex justify-content-center">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class=" mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class=" mb-3">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="من فضلك أدخل كلمة المرور ." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class=" mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="الرجاء تأكيد كلمة المرور الخاصة بك." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 my-primary-btn">إعادة تعيين كلمة المرور</button>
            </form>
        </div>
    </div>

</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
