@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تأكيد إعادة تعيين كلمة المرور";
}

<section class="d-flex align-items-center justify-content-center flex-column">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <p>
        تم إعادة تعيين كلمة المرور الخاصة بك. لو سمحت <a asp-page="./Login">انقر هنا لتسجيل الدخول</a>.
    </p>
</section>
