@model ApplicationUser


<h5 class="card-title">تفاصيل الملف الشخصي</h5>

<div class="row">
    <div class="col-lg-3 col-md-4 label ">الاسم الكامل</div>
    <div class="col-lg-9 col-md-8"> @Model.FirstName @Model.LastName</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">هاتف</div>
    <div class="col-lg-9 col-md-8">@Model.PhoneNumber</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">البريد إلكتروني</div>
    <div class="col-lg-9 col-md-8">@Model.Email</div>
</div>