@page
@model PersonalDataModel
@{
    ViewData["Title"] = "بيانات شخصية";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
       
        <p>تحتوي حسابك على بيانات شخصية قدمتها لنا. تسمح لك هذه الصفحة بتنزيل أو حذف تلك البيانات.</p>
        <p>
            <strong>حذف هذه البيانات سيؤدي إلى حذف حسابك بشكل دائم، ولا يمكن استرجاعه.</strong>
        </p>
       <div class="d-flex gap-2">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary" type="submit">تنزيل</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">حذف</a>
            </p>
       </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
