@{
    ViewData["Title"] = "تواصل معنا";
}


<!-- Start Hero -->
<section id="hero" class="p-5 d-flex align-items-center ">

    <div class="container">
        <div class="row d-flex align-items-center justify-content-around">

            <div data-aos="zoom-out" data-aos-delay="200" class="col-lg-6  d-flex align-items-center  justify-content-center">

                <img src="~/imgs/Group discussion-rafiki.svg" alt="hero_img" class="w-100">

            </div>

            <div class="col-lg-5 p-5 " ">
                <h2 data-aos="fade-up" data-aos-delay="400" class="mb-5 fw-light display-5  ">اتصل بنا</h2>
                <p data-aos="fade-up" data-aos-delay="600" class="mb-5 fw-light h5">نحن متحمسون للرد على جميع استفساراتكم وتقديم المساعدة بأي شكل ممكن. لا تترددوا في الاتصال بنا لأية استفسارات أو توضيحات تحتاجونها.</p>
                <div data-aos="zoom-out" data-aos-delay="700">
                </div>

            </div>

        </div>
    </div>


</section>
<!-- End Hero -->
<!-- Start contact Section -->
<section id="" class="">
    <div class="container pt-5 ">

        <div class="row align-content-center justify-content-evenly">

            <div class=" col-lg-5  p-5  ">
                <h2 class="text-color-primary mb-4 fw-bold display-3">تواصل <span class="my-text-primary">معنا</span></h2>
                <p class="lead">
                    نحن في مركز خدمة المجتمع نرحب باتصالكم واستفساراتكم. يمكنكم التواصل معنا عبر الطرق التالية:
                </p>
                <p><span class="fw-bold">البريد الإلكتروني</span> : test@gmail.com</p>
                <p><span class="fw-bold">العنوان</span> : yemen, Hadrmout</p>
                <p><span class="fw-bold">الهاتف</span> : +967 777 777 777</p>
            </div>

            <div class=" col-lg-5  p-5">
                <form novalidate class="" method="post">
                    <div class=" mb-2">
                        <label for="name" class="form-label form-floating">الاسم</label>
                        <input type="text" required name="name" id="name" class="form-control" >
                    </div>
                    <div class=" mb-2">
                        <label for="Email" class="form-label form-floating">البريد الإلكتروني</label>
                        <input type="email" required name="email" id="Email" class="form-control">
                    </div>

                    <div class="">
                        <label for="Message" class="form-label form-floating">الرسالة</label>
                        <textarea required name="message" class="form-control form-text" style="resize: none;" id="Message" placeholder="...." cols="30" rows="10"></textarea>
                    </div>

                    <div>
                        <button type="submit" style="outline: none; border: none;" class="my-primary-btn mt-4 w-100">ارسل</button>
                    </div>

                </form>
            </div>

        </div>

</section>
<!-- End Hero Section -->