@{
    ViewData["Title"] = "الكورسات";
}

<div class="container">
    <a asp-action="Index" class="text-decoration-none text-dark">الرئيسية</a>
    <i class="ri-arrow-left-double-fill"></i>
    <a asp-action="Courses" class="text-decoration-none text-dark">الكورسات</a>

</div>


<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/imgs/Education-bro.svg" class="d-block w-100" alt="img" style="aspect-ratio: 16/4;object-fit: contain;">
        </div>
        <div class="carousel-item">
            <img src="~/imgs/Poetry-pana.svg" class="d-block w-100" alt="img" style="aspect-ratio: 16/4;object-fit: contain;">
        </div>
        <div class="carousel-item">
            <img src="~/imgs/Education-cuate.svg" class="d-block w-100" alt="img" style="aspect-ratio: 16/4;object-fit: contain;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row d-flex justify-content-center align-items-center mt-5">

    <form class=" col-xl-8">
        <div class="input-group mb-3">
            <button class="btn btn-dark" type="button" id="button-addon1"><i class="ri ri-search-2-line"></i></button>
            <input type="text" class="form-control" placeholder="البحث ..." aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
    </form>

</div>

<div class="d-flex justify-content-around align-items-center">

    <div id="catigories" class="catigories m-5">
        <a href="" class="active-catigory">الكل</a>
        <a href="">محاسبة</a>
        <a href="">تقنية</a>
        <a href="">اللغة الانجليزية</a>
    </div>
    <div>
        <button id="filter-btn" class="filter-btn">فلترة<i class="ri-filter-2-line"></i></button>
    </div>
</div>

<div id="filterBox" style="display: none;" class="filterBox row mb-5">

    <div class="col-lg-8 d-flex align-items-center justify-content-center  gap-5">
        <div class="col-3">
            <form action="">
                <label for="" class="form-label">السعر</label>
                <select name="" id="" class="form-select">
                    <option value="">الكل</option>
                    <option value="">مجانا</option>
                    <option value="">مدفوعة</option>
                </select>
            </form>
        </div>
        <div class="col-3">

            <form action="">
                <label for="" class="form-label">الشهادة</label>
                <select name="" id="" class="form-select">
                    <option value="">الكل</option>
                    <option value="">شهاده</option>
                    <option value="">بدون شهاده</option>
                </select>
            </form>

        </div>
    </div>

</div>

<section class="p-5">

    <div class="container">
        <div class="row justify-content-center align-items-center">


           

            <div class="col-lg-3">
                <a asp-action="Details" style="cursor: pointer;display: block;width: 100%;text-decoration: none;color: black;">
                    <div class="card " style="width: 18rem;min-height: 335px;">
                        <div style="width: 100%;height: 100%;overflow: hidden;">
                            <img src="~/imgs/course-1.jpg" class="card-img-top img-card" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">دورة تطوير القيادة والإدارة</h5>
                            <h6 class="card-subtitle mb-2 text-muted">م. احمد عمر</h6>
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn mr-2"><img src="~/imgs/price-tag.png" alt="icon" width="20px" height="20px"> 1500ريال</div>
                                <img src="~/imgs/certificate.png" alt="icon" width="25px" height="25px">

                            </div>
                        </div>
                    </div>
                </a>
            </div>

             <div class="col-lg-3">
                <a asp-action="Details" style="cursor: pointer;display: block;width: 100%;text-decoration: none;color: black;">
                    <div class="card " style="width: 18rem;min-height: 335px;">
                        <div style="width: 100%;height: 100%;overflow: hidden;">
                            <img src="~/imgs/course-1.jpg" class="card-img-top img-card" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">دورة تطوير القيادة والإدارة</h5>
                            <h6 class="card-subtitle mb-2 text-muted">م. احمد عمر</h6>
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn mr-2"><img src="~/imgs/price-tag.png" alt="icon" width="20px" height="20px"> 1500ريال</div>
                                <img src="~/imgs/certificate.png" alt="icon" width="25px" height="25px">

                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-3">
                <a asp-action="Details" style="cursor: pointer;display: block;width: 100%;text-decoration: none;color: black;">
                    <div class="card " style="width: 18rem;min-height: 335px;">
                        <div style="width: 100%;height: 100%;overflow: hidden;">
                            <img src="~/imgs/course-1.jpg" class="card-img-top img-card" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">دورة تطوير القيادة والإدارة</h5>
                            <h6 class="card-subtitle mb-2 text-muted">م. احمد عمر</h6>
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn mr-2"><img src="~/imgs/price-tag.png" alt="icon" width="20px" height="20px"> 1500ريال</div>
                                <img src="~/imgs/certificate.png" alt="icon" width="25px" height="25px">

                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a asp-action="Details" style="cursor: pointer;display: block;width: 100%;text-decoration: none;color: black;">
                    <div class="card " style="width: 18rem;min-height: 335px;">
                        <div style="width: 100%;height: 100%;overflow: hidden;">
                            <img src="~/imgs/course-1.jpg" class="card-img-top img-card" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">دورة تطوير القيادة والإدارة</h5>
                            <h6 class="card-subtitle mb-2 text-muted">م. احمد عمر</h6>
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn mr-2"><img src="~/imgs/price-tag.png" alt="icon" width="20px" height="20px"> 1500ريال</div>
                                <img src="~/imgs/certificate.png" alt="icon" width="25px" height="25px">

                            </div>
                        </div>
                    </div>
                </a>
            </div>




        </div>
    </div>
</section>

@section Scripts{

    <script>

        $(document).ready(()=>{

          $('#filter-btn').click(()=>{

            
            $('.filterBox').slideToggle(50);
          });
        });

    </script>

}