@model FaqTopCoursesViewModel

@{
    ViewData["Title"] = "الرئيسية";
}


<!-- Start Hero -->
<section id="hero" class="p-5 d-flex align-items-center ">

    <div class="container">
        <div class="row d-flex align-items-center justify-content-around">
            <!-- right side -->
            <div class="col-lg-5 p-5 ">
                <h2 data-aos="fade-up" data-aos-delay="400" class="mb-5 fw-light display-5  my-text-primary">أطلق العنان لإمكانياتك من خلال <span id="hero-content" class="my-text-secondery fw-bold animation-writeAndDeleteWords"></span></h2>
                <p data-aos="fade-up" data-aos-delay="600" class="mb-5 fw-light ">اكتشف عالمًا من المعرفة وعزز مهاراتك من خلال مجموعة الدورات المتنوعة لدينا. احجز مكانك اليوم!</p>
                <div data-aos="zoom-out" data-aos-delay="700">

                    <a class="fancy" asp-action="Courses" asp-controller="Home">
                        <span class="top-key"></span>
                         <span class="text">  احجز الان <i class="ri-arrow-left-line"></i></span>
                        <span class="bottom-key-1"></span>
                        <span class="bottom-key-2"></span>
                    </a>

                </div>

            </div>

            <!-- left side -->
            <div data-aos="zoom-out" data-aos-delay="200" class=" col-lg-6  d-flex align-items-center  justify-content-center">

                <img src="~/imgs/Learning-cuate.svg" alt="hero_img" class=" w-75">

            </div>
        </div>
    </div>


</section>
<!-- End Hero -->
<!-- ======= Services Section ======= -->
<section id="services" class="services ">

    <div class="container" data-aos="fade-up">

        <header class="text-center mb-5">
            <p>Services</p>
            <h2>خدماتنا</h2>
        </header>

        <div class="row d-flex justify-content-around gap-sm-3">

            <div class="col-lg-3 col-md-6 card p-3 shadow-lg" style="border-radius: 15px;" data-aos="fade-up" data-aos-delay="200">
                <div class="">
                    <img src="~/imgs/learning.png" alt="img" style="max-width:50px;" class="mb-3">

                    <h5>دورات تعليمية متنوعة</h5>
                    <p class="fw-light">نقدم مجموعة متنوعة من الدورات التعليمية في مختلف المجالات بما في ذلك التكنولوجيا، اللغات، الفنون، وغيرها، تصميمها لتلبية احتياجات الطلاب وتطوير مهاراتهم.</p>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 card p-3 shadow-lg" style="border-radius: 15px;" data-aos="fade-up" data-aos-delay="300">
                <div class="">
                    <img src="~/imgs/brainstorming.png" alt="img" style="max-width:50px;" class="mb-3">
                    <h5>استشارات شخصية ومهنية</h5>
                    <p class="fw-light">دم خدمات الاستشارات للأفراد الذين يبحثون عن توجيه مهني أو تطوير شخصي، حيث نوفر المساعدة في وضع أهداف وتطوير استراتيجيات لتحقيقها.</p>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 card p-3 shadow-lg" style="border-radius: 15px;" data-aos="fade-up" data-aos-delay="400">
                <div class="">

                    <img src="~/imgs/workshop.png" alt="img" style="max-width:50px;" class="mb-3">
                    <h5>فعاليات وورش عمل</h5>
                    <p class="fw-light">ننظم فعاليات تعليمية وورش عمل تفاعلية في مجموعة متنوعة من المواضيع، مما يتيح للمشاركين فرصة التعلم والتفاعل مع المحترفين في المجال.</p>

                </div>
            </div>



        </div>

    </div>

</section><!-- End Services Section -->
<!-- Start about us -->
<section id="about" style="min-height:70vh ;" class="p-5">
    <div class="container">
        <div class="row d-flex justify-content-around align-items-center ">

            <div class="col-lg-5">

                <h3 data-aos="zoom-out" data-aos-delay="200">من نحن ؟</h3>
                <p data-aos="zoom-out" data-aos-delay="400" class="fw-light h3"> مركز تعليمي متخصص يهدف إلى تقديم أفضل الدورات التعليمية في مختلف المجالات. نحن نفتخر بتقديم بيئة تعليمية داعمة ومحفزة تساعد طلابنا على تطوير مهاراتهم وتحقيق أهدافهم الشخصية والمهنية.</p>

            </div>

            <div class="col-lg-5" data-aos="zoom-out">

                <img src="~/imgs/Studying-rafiki.svg" alt="img" style="max-width: 80%;">

            </div>
        </div>
    </div>

</section>
<!-- End about us -->
<!-- Start Courses -->
<section id="courses">

    <div class="container p-5">

        <h4 class="text-center mb-5">الدورات الرائجة</h4>


        <div class="row gap-2 d-flex justify-content-center ">


            <div class="col-lg-3 " data-aos="fade-up" data-aos-delay="200">
                <div class="card course-card" style="width: 18rem;min-height: 335px;">
                    <div style="width: 100%;height: 100%;overflow: hidden;">
                        <img src="~/imgs/course-1.jpg" class="card-img-top img-card" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">دورة تطوير القيادة والإدارة</h5>
                        <h6 class="card-subtitle mb-2 text-muted">م. احمد عمر</h6>
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn mr-2">   <img src="~/imgs/price-tag.png" alt="icon" width="20px" height="20px"> 1500ريال</a>

                            <img src="~/imgs/certificate.png" alt="icon" width="30px" height="30px">

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="card " style="width: 18rem;min-height: 335px;">
                    <div style="width: 100%;height: 100%;overflow: hidden;">
                        <img src="~/imgs/course-1.jpg" class="card-img-top img-card" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">دورة تطوير القيادة والإدارة</h5>
                        <h6 class="card-subtitle mb-2 text-muted">م. احمد عمر</h6>
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn mr-2">   <img src="img/price-tag.png" alt="icon" width="20px" height="20px"> 1500ريال</a>
                            <img src="~/imgs/certificate.png" alt="icon" width="30px" height="30px">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="400">
                <div class="card" style="width: 18rem;min-height: 335px;">
                    <div style="width: 100%;height: 100%;overflow: hidden;">
                        <img src="~/imgs/course-2.jpg" class="card-img-top img-card" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">دورة تطوير القيادة والإدارة</h5>
                        <h6 class="card-subtitle mb-2 text-muted">م. احمد عمر</h6>
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn mr-2">   <img src="~/imgs/price-tag.png" alt="icon" width="20px" height="20px"> 1500ريال</a>

                            <img src="~/imgs/certificate.png" alt="icon" width="30px" height="30px">

                        </div>
                    </div>
                </div>
            </div>


            <div class="text-center mt-5">
                <a class="cta text-decoration-none"  asp-action="Courses" data-aos="slide-up" data-aos-delay="500">
                    <span class="hover-underline-animation"> كل الكورسات </span>
                    <svg id="arrow-horizontal"
                         xmlns="http://www.w3.org/2000/svg"
                         width="30"
                         height="10"
                         viewBox="0 0 46 16">
                        <path id="Path_10"
                              data-name="Path 10"
                              d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                              transform="translate(30)"></path>
                    </svg>
                </a>

            </div>


        </div>




    </div>

</section>
<!-- End Courses -->
<!-- Start Why Choose us -->
<section id="why" style="min-height:70vh ;" class="p-5">
    <div class="container">
        <div class="row d-flex justify-content-around align-items-center ">


            <div class="col-lg-5" data-aos="zoom-out">

                <img src="~/imgs/brett-jordan--dChkgNLmp4-unsplash.jpg" alt="img" style="max-width: 70%;border-radius: 20px;">

            </div>

            <div class="col-lg-5">

                <h3 data-aos="fade-up" data-aos-delay="200">  لماذا أخترتنا؟</h3>
                <p data-aos="fade-up" data-aos-delay="400" class="fw-light h3"> يقدم مركز خدمة المجتمع مجموعة متنوعة من الدورات في جميع المجالات لتلبية احتياجات المجتمع. نحن ملتزمون بتقديم تجارب تعليمية غنية ومثيرة تساعد الطلاب على تطوير مهاراتهم وزيادة معرفتهم في مجالات متعددة.</p>

            </div>

        </div>
    </div>

</section>
<!-- End Why Choose us -->
<!-- Start Our message  -->
<section id="ourMessage" style="min-height:70vh ;" class="p-5 ">
    <div class="container">
        <div class="row d-flex justify-content-around align-items-center ">


            <div class="col-lg-5">

                <h3 data-aos="fade-up" data-aos-delay="200">   رسالتنا</h3>
                <p data-aos="fade-up" data-aos-delay="400" class="fw-light h3"> رسالة المركز تنفيد برامج  ودورات تدريبية متخصصة وبشهادات معتمدة  لأعداد كوادر متميزة في المجالات الادارية والتقنية والصحية وخدمة المجتمع ورفد سوق العمل بكادر مؤهل  يساهم في تنمية المجتمع</p>

            </div>

            <div class="col-lg-5" data-aos="zoom-out">

                <img src="~/imgs/Exams-cuate.svg" alt="img" style="max-width: 70%;">

            </div>


        </div>
    </div>

</section>
<!-- End Our message  -->
<!-- Start Our Vision  -->
<section id="ourMessage" style="min-height:70vh ;" class="p-5 ">
    <div class="container">

        <div class="row d-flex justify-content-around align-items-center ">


            <div class="col-lg-5" data-aos="zoom-out">

                <img src="~/imgs/diego-ph-fIq0tET6llw-unsplash.jpg" alt="img" style="max-width: 70%;border-radius: 20px;">

            </div>

            <div class="col-lg-5">

                <h3 data-aos="fade-up" data-aos-delay="200">   رويتنا</h3>
                <p data-aos="fade-up" data-aos-delay="400" class="fw-light h3">رؤية المركز التميز في تدريب الطلاب في بيئة جامعية في عدة مجالات  وفق احتياج سوق العمل وتطوير قدراتهم العلمية والمهنية</p>

            </div>

        </div>
    </div>

</section>
<!-- End Our Vision  -->
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="d-flex align-items-center justify-content-center">

    <div class="container" data-aos="fade-up">

        <header class="text-center mb-5">
            <h2>F.A.Q</h2>
            <p class="text-dark">الأسئلة المتكررة</p>
        </header>

        <div class="row d-flex justify-content-center ">
            <div class="col-lg-8 card p-5 shadow-lg ">

                <div class="accordion accordion-flush" id="faq-group-1">


                    @foreach (var item in Model.FAQs)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsOne-@item.Id" type="button" data-bs-toggle="collapse">
                                   @item.Question
                                </button>
                            </h2>
                            <div id="faqsOne-@item.Id" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                <div class="accordion-body">
                                   @item.Answer
                                </div>
                            </div>
                        </div>
                    }
@* 
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse">
                                1-كيف يمكنني التسجيل في دورة في مركز خدمة المجتمع؟
                            </button>
                        </h2>
                        <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                            <div class="accordion-body">
                                Ut quasi odit odio totam accusamus vero eius. Nostrum asperiores voluptatem eos nulla ab dolores est asperiores iure. Quo est quis praesentium aut maiores. Corrupti sed aut expedita fugit vero dolorem. Nemo rerum sapiente. A quaerat dignissimos.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" data-bs-target="#faqsOne-2" type="button" data-bs-toggle="collapse">
                                2-هل تقدمون خصومات للطلاب أو الفئات الخاصة؟
                            </button>
                        </h2>
                        <div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                            <div class="accordion-body">
                                In minus quia impedit est quas deserunt deserunt et. Nulla non quo dolores minima fugiat aut saepe aut inventore. Qui nesciunt odio officia beatae iusto sed voluptatem possimus quas. Officia vitae sit voluptatem nostrum a.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" data-bs-target="#faqsOne-3" type="button" data-bs-toggle="collapse">
                                3-ما هي سياسة إلغاء الحجز واسترداد الرسوم؟
                            </button>
                        </h2>
                        <div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                            <div class="accordion-body">
                                Voluptates magni amet enim perspiciatis atque excepturi itaque est. Sit beatae animi incidunt eum repellat sequi ea saepe inventore. Id et vel et et. Nesciunt itaque corrupti quia ducimus. Consequatur maiores voluptatum fuga quod ut non fuga.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" data-bs-target="#faqsOne-4" type="button" data-bs-toggle="collapse">
                                4-هل يمكنني الحصول على مزيد من المعلومات حول المعلمين وخبراتهم؟
                            </button>
                        </h2>
                        <div id="faqsOne-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                            <div class="accordion-body">
                                Numquam ut reiciendis aliquid. Quia veritatis quasi ipsam sed quo ut eligendi et non. Doloremque sed voluptatem at in voluptas aliquid dolorum.
                            </div>
                        </div>
                    </div> *@

                </div>
            </div>



        </div>

    </div>

</section><!-- End F.A.Q Section -->
